@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;500;800&family=Roboto&display=swap');

/* Variables */
:root {
  --font-family: "Jost", sans-serf;
  --normal-font: 300; 
  --medium-font: 500;
  --bold-font: 800;
  --bg-color: #fcfcfc;
  --primary-color: #000000;
  --secondary-color: #8ea9df;
  --top-margin: 2rem;
  --bottom-margin: 2rem;
  --left-right-margin: 1rem;
  --transition: 0.3s;
  --box-shadow: 6px 6px 19px -3px #e1e2e7;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

h4 {
    text-align: center;
    font-weight: var(--medium-font);
}

h2 {
    text-align: left;
    font-weight: var(--medium-font);
}

body {
    font-family: var(--font-family);
    font-weight: 100;
    text-align: left;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

nav h1 {
    color: var(--primary-color);
    font-weight: var(--medium-font);
}
  
nav a {
    color: var(--primary-color);
    transition: var(--transition);
}
nav a:hover {
    color: var(--secondary-color);
    border-bottom: 0.5px solid var(--secondary-color);
}
  
nav ul {
    display: flex;
    gap: 1.9rem;
}
  
nav ul li {
    font-weight: var(--normal-font);
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

.banner img {
    height: 500px; /* height of container */
    object-fit: cover;
    width: 100%;
}

.casestudy-global {
    margin: calc(var(--left-right-margin)*1.61803*2) calc(var(--left-right-margin)*1.61803*12);
}

.intro-strip {
    display: flex;
}

.intro-strip div{
    max-width: 50%;
    padding: 1rem; 
}

.intro-strip h4 {
    text-align: left;
    padding-top: 1rem;
}

.strip {
    margin-top: calc(var(--left-right-margin)*1.61803*3);
    padding-left: 7rem; 
    padding-right: 7rem; 
    /* background-color:#8ea9df;
    border: 1px solid black; */
}

.strip p {
    text-align: center;
}

.strip img {
    width: 100%;
    height: auto;
}

/* .final-solution-section {
    margin: 0;
} */

.solution-strip {
    display: flex;
    box-shadow: var(--box-shadow);
    margin-bottom: 3rem;
    margin-top: 3rem;
    border: 1px solid rgb(57, 79, 54);
    border-radius: 2rem;
}

.solution-strip div{
    max-width: 50%;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.solution-strip h4 {
    position: relative;
    top: 30%;
    text-align: center;
}

.solution-strip p {
    position: relative;
    top: 30%;
    text-align: left;
    margin-bottom: 1rem;

    margin-right: 1rem;
}

.solution-strip img {
    margin: 1rem;
    height: auto;
    width: 70%;
    box-shadow: var(--box-shadow);
}

/* Scrollup and Scrollup icon */
.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}
  
.up-arrow {
    width: 3rem;
    height: 3rem;
}

/* Media queries */
@media screen and (max-width: 1200px) {
    .casestudy-global {
        margin: calc(var(--left-right-margin)*1.61803*2) calc(var(--left-right-margin)*1.61803*6);
    }

    .intro-strip {
        display: inline;
    }

    .intro-strip div {
        max-width: 100%;
    }

    .intro-strip h2, h4 {
        text-align: left;
    }

    .strip {
        padding-left: 7rem; 
        padding-right: 7rem; 
    }

    .strip h4 {
        text-align: center;
    }

    .final-solution-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .solution-strip {
        display: inline-block;
    }
    
    .solution-strip div {
        align-self: stretch;
        margin: 0 auto;
        padding: 0;
    }

    .solution-strip p {
        margin-left: 0;
    }

    .solution-strip img {
        width: 90%;
    }
}

@media screen  and (max-width: 800px) {
    nav {
        padding: 1.5rem 1rem;   
    }
    nav ul {
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }
  
    nav ul li {
        margin: 8px;
    }
  
    .burger-menu {
        display: block;
    }
  
    nav ul.show {
        transform: translateX(0);
    }

    .casestudy-global {
        margin: calc(var(--left-right-margin)*1.61803*2) calc(var(--left-right-margin)*1.61803*1);
    }

    .strip {
        padding: 1rem; 
    }
}

@media screen and (max-width: 320px) {
    .casestudy-global {
        margin: var(--left-right-margin);
    }

    .intro-strip div {
        max-width: 100%;
    }

    .intro-strip h2, h4 {
        text-align: left;
    }

    .strip {
        margin-top: var(--top-margin);
        height: auto;
        margin-bottom: var(--bottom-margin);
        padding: 1rem; 
    } 
}