@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;500;800&family=Roboto&display=swap');

/* Variables */
:root {
  --font-family: "Jost", sans-serf;
  --normal-font: 300; 
  --medium-font: 500;
  --bold-font: 800;
  --bg-color: #0a0a0b;
  --primary-color: #ebebeb;
  --secondary-color: #ff00b7;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--primary-color);
}

h4 {
    font-size: 1.5rem;
    text-align: left;
    font-weight: var(--medium-font);
}

p {
    text-align: left;
    font-weight: var(--normal-font);
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
}

nav h1 {
    color: var(--primary-color);
    font-weight: var(--medium-font);
}
  
nav a {
    color: var(--primary-color);
    transition: var(--transition);
}
nav a:hover {
    color: var(--secondary-color);
    border-bottom: 0.5px solid var(--secondary-color);
}
  
nav ul {
    display: flex;
    gap: 1.9rem;
}
  
nav ul li {
    font-weight: var(--normal-font);
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.main-section-global {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

.full-header-div {
    border: 1px solid var(--secondary-color);
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.header-img-div {
    max-width: 100%;
    height: 100vh;
    /* background-color: var(--secondary-color); */
    border: 1px solid var(--secondary-color);

    align-items: flex-end;
    display: flex;

}

.header-icons-movement {
    border: none;
    background-color: var(--secondary-color);
    animation: MoveUpDown 2.5s linear infinite;
    width: 30%;
}

.header-img-div > #header-avatar { 
    margin-left: 35%;
    height: auto;
    width: 30%;

    z-index: 1;

    background-color: yellow;
}

#header-code {
    position: absolute;
    padding-bottom: 30%;
    margin-left: 15%;

    width: 15%;
    z-index: 0;

    transform: rotate(-25deg);
}

#header-design {
    position: absolute;
    padding-bottom: 30%;
    margin-left: 62%;

    width: 15%;
    z-index: 0;

    transform: rotate(10deg);
}

#header-film {
    position: absolute;
    padding-bottom: 10%;
    margin-left: 68%;

    width: 15%;
    z-index: 0;

    transform: rotate(5deg);
}

#header-food {
    position: absolute;
    padding-bottom: 10%;
    margin-left: 10%;

    width: 15%;
    z-index: 0;

    transform: rotate(-10deg);
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.full-header-div p{
    padding: 1rem;
    padding-left: 25rem;
    padding-right: 25rem;
    margin-top: 3rem;
    margin-bottom: 3rem;

    font-size: x-large;
    text-align: center;
}

.workcards-div {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.workcards-div h1 {
    font-weight: var(--medium-font);
    padding: 1rem;
}

.cards-container {
    /* border: 1px solid red; */
    width: 100%;
}

.cards-column {
    display: inline-block;
    width: 45%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    /* border: 1px solid blue; */
}

.cards-column img {
    width: 100%;
    height: auto;
}

.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}
  
.up-arrow {
    width: 3rem;
    height: 3rem;
}

/* Media queries */
@media screen and (max-width: 1200px) {
    .full-header-div p{
        padding: 1rem;
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .cards-column {
        display: block;
        width: 100%;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }  
}

@media screen and (max-width: 768px) {
    nav {
        padding: 1.5rem 1rem;   
    }
    nav ul {
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }
  
    nav ul li {
        margin: 8px;
    }
  
    .burger-menu {
        display: block;
    }
  
    nav ul.show {
        transform: translateX(0);
    }

    .main-section-global {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .full-header-div p{
        padding: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .cards-column {
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }  
}
  
@media screen and (max-width: 320px) {
    .main-section-global {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .full-header-div p{
        padding: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .cards-column {
        padding: 0.5rem;
        padding-bottom: 1rem;
    }  
}